#black{
	position:absolute;
	left:0px;
	top:0px;
	width:535px;
	height:540px;
}

#blue{
	position:absolute;
	left:0px;
	top:258px;
	width:252px;
	height:282px;
}

#green{
	position:absolute;
	left:2px;
	top:294px;
	width:259px;
	height:246px;
}

#yellow{
	position:absolute;
	left:1px;
	top:47px;
	width:351px;
	height:214px;
}

#white{
	position:absolute;
	left:2px;
	top:20px;
	width:399px;
	height:281px;
}

#red{
	position:absolute;
	left:261px;
	top:174px;
	width:160px;
	height:329px;
}

#orange{
	position:absolute;
	left:257px;
	top:108px;
	width:162px;
	height:432px;
}


#Layer-3{
	position:absolute;
	left:-554px;
	top:-5px;
	width:535px;
	height:540px;
}

#back-black{
	position:absolute;
	left:0px;
	top:0px;
	width:533px;
	height:533px;
}

#cube-splash{
	position:absolute;
	left:0px;
	top:210px;
	width:320px;
	height:323px;
}


#Layer-4{
	position:absolute;
	left:0px;
	top:0px;
	width:533px;
	height:533px;
}

#noviceapp-com{
	position:absolute;
	left:9px;
	top:55px;
	width:508px;
	height:121px;
}

#pad-02{
	position:absolute;
	left:46px;
	top:1px;
	width:35px;
	height:16px;
}

#pad-01{
	position:absolute;
	left:0px;
	top:0px;
	width:35px;
	height:16px;
}


#Layer-7{
	position:absolute;
	left:441px;
	top:500px;
	width:81px;
	height:18px;
}

#rafszul{
	position:absolute;
	left:36px;
	top:2px;
	width:476px;
	height:532px;
}

#asano{
	position:absolute;
	left:0px;
	top:0px;
	width:536px;
	height:536px;
}


#Layer-8{
	position:absolute;
	left:-1px;
	top:-2px;
	width:536px;
	height:536px;
}

#noviceapp-com-splash{
	position:absolute;
	left:553px;
	top:0px;
	width:533px;
	height:533px;
}

